<% provide(:title, "About") %>
<%= link_to 'home', root_path %>
<%= link_to 'help', static_pages_help_path %>
<%= link_to 'contact', static_pages_help_path %>
<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<p>Welcome to my about page!</p>
<a href="www.moodle.gcd.ie">Follow us on Moodle!</a>