<% provide(:title, "Contact") %>
<%= link_to 'home', root_path %>
<%= link_to 'help', static_pages_help_path %>
<%= link_to 'about', static_pages_help_path %>
<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p>Welcome to Contact page!</p>
<h2>Name</h2>
<p>Griffith College</p>
<br>
<h2>Address</h2>
<p>South Circular Road, Dublin, Ireland</p>
<br>
<h2>Email</h2>
<a href="mailto:griffith@griffith.ie">Click here to email Griffith!</a>
<br>
