<% provide(:title, "Help") %>
<%= link_to 'home', static_pages_help_path %>
<%= link_to 'about', static_pages_help_path %>
<%= link_to 'contact', static_pages_help_path %>
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p><! DOCTYPE html>
<h2>Thank you for visiting my page!!!</h2>
<a href="www.railstutorial.org">Ruby on Rails Help Here!!!!</a>