<% provide(:title, "Home") %>
<%= link_to 'help', static_pages_help_path %>
<%= link_to 'about', static_pages_help_path %>
<%= link_to 'contact', static_pages_help_path %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<h2>Thank you for visiting my page!!!</h2>
